.catch {
  margin: 0;
  justify-content: center;
  display: inline-block;
  height: auto;
  width: 100%;
}
.container {
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80");
  background-size: cover;
  height: 100px;
  width: auto;
  background-position: 70% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 0;
}

.catch h1 {
  color: white;
}

span.Perkchart {
  display: flex;

  font-size: 20px;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.container-perks {
  background-color: whitesmoke;
  margin: 0;
  padding-bottom: 50px;
  border: solid whitesmoke;
}

.react-multi-carousel-list {
  padding-left: 80px;
  text-align: center;
  background-color: whitesmoke;
}

.pitch-image {
  border-radius: 50px 50px 0px 0px;
  height: auto;
  width: 100%;
}

.card {
  width: 400px;
}

.pitch-bot {
  background-color: gray;
  height: 200px;
  border-radius: 0px 0px 50px 50px;
}
.pitch-bot h4 {
  margin: 0;
}

.react-multi-carousel-list {
  position: unset !important;
}
.react-multiple-carousel__arrow--right {
  right: calc(1% + 1px) !important;
}

.react-multiple-carousel__arrow--left {
  left: calc(1% + 1px) !important;
}
