nav {
  display: flex;
  align-items: center;

  justify-content: space-evenly;
  padding: 0;
  border-color: black;
  border-bottom: 3px solid black;

  overflow: hidden;
}
.navbegin {
}
.navcenter {
  display: flex;
  padding: 0 25%;
  gap: 1.25rem;
}

.navend {
  display: flex;
  gap: 1.25rem;
}
li {
  text-decoration: none;

  list-style: none;
  font-size: 25px;
}

a {
  text-decoration: none;
  font-size: 25px;
  color: black;
}

li a:hover {
  color: rgb(0, 0, 255, 0.75);
  padding: 17px 0;
  border-bottom-style: solid;
  border-bottom: 3px solid black;
}
