nav {
  display: flex;
  align-items: center;
  background-color: rgba(223, 27, 27, 0.7);
  padding-bottom: -20px;
  justify-content: space-evenly;
  padding: 0;
  border-color: black;
  border-style: solid;
  border: 50px;
}
.navcenter {
  display: flex;
  padding: 0 25%;
  gap: 1.25rem;
}

.navend {
  display: flex;
  gap: 1.25rem;
}
li {
  text-decoration: none;
  color: inherit;
  list-style: none;
  font-size: 25px;
}

a {
  text-decoration: none;
  font-size: 25px;
}

li a:hover {
  color: rgb(0, 0, 255, 0.75);
  padding-bottom: 20%;

  border-bottom-style: solid;
  border-color: blue;
}
